/* WHOLE PAGE */
body {
  font-family: 'Michroma', sans-serif;
  overflow:auto;


}
/* HEADER STYLE */
h3 {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    color: white;
}
.card .card-title {
  font-size: 18px;
}

input{
  color: white;
}

/* FIXED FULL SCREEN IMAGE */
html {
  background: url("../images/earthorbit.jpg") no-repeat center center fixed;
  /* background-color: blue; */
  background-size: cover;
  height: 100%;
  /* overflow: hidden; */
}

#opacity-test{
  background-color: rgba(27, 43, 64, 0.4);
}

#input-feilds{
  /* overflow:auto; */
}

  